<!DOCTYPE html>
<html lang="{{ $.Site.Language.Lang }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <base href="{{ if getenv "CONTEXT" }}{{ cond (eq "production" (getenv "CONTEXT")) (getenv "URL") (getenv "DEPLOY_PRIME_URL") }}{{ else }}{{ $.Site.BaseURL }}{{ end }}">
    <title>{{ $.Site.Title }}</title>
    {{ $stylesheet := index $.Site.Data.webpack "chunk-vendors" }}
    {{ with $stylesheet.css }}
    <link href="{{ relURL . }}" rel="stylesheet">
    {{ end }}
    {{ $stylesheet := index $.Site.Data.webpack "chunk-common" }}
    {{ with $stylesheet.css }}
    <link href="{{ relURL . }}" rel="stylesheet">
    {{ end }}
    {{ with .Page.Params.vueJS }}
    {{ range . }}
    {{ $script := index $.Site.Data.webpack . }}
    {{ with $script.css }}
    <link href="{{ relURL . }}" rel="stylesheet">
    {{ end }}
    {{ end }}
    {{ end }}
  </head>

  <body>
    <nav class="navbar has-shadow" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item is-size-4" href="/">
          <strong>
            {{ $.Site.Title }}
          </strong>
        </a>

        <a role="button" class="navbar-burger burger" aria-label="menu"
           aria-expanded="false" data-target="ttat-menu">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div id="ttat-menu" class="navbar-menu">
        <div class="navbar-start">
          <a class="navbar-item" href="/">
            Patient(in)nen
          </a>

          <a class="navbar-item" href="/therapists">
            Therapeut(in)nen
          </a>

          <a class="navbar-item" href="/doctors">
            Ärzte
          </a>
        </div>

        <div class="navbar-end">
          <div class="navbar-item">
            <a class="button is-primary">
              <strong>Anmelden</strong>
            </a>
          </div>
          <div class="navbar-item has-dropdown is-hoverable">
            <div class="navbar-link">
              Ian Ross
            </div>
            <div class="navbar-dropdown">
              <a class="navbar-item">
                <span>
                  <span class="icon">
                    <i class="fa fa-user-circle"></i>
                  </span>
                  Profile
                </span>
              </a>
              <a class="navbar-item">
                <span>
                  <span class="icon">
                    <i class="fa fa-bug"></i>
                  </span>
                  Report bug
                </span>
              </a>
              <a class="navbar-item">
                <span>
                  <span class="icon">
                    <i class="fa fa-sign-out-alt"></i>
                  </span>
                  Sign Out
                </span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </nav>

    {{ block "main" . }}{{end}}

    <footer class="footer">
      <div class="container">
        <div class="container is-spaced">
          <div class="columns">
            {{ range .Site.Data.footer.columns }}
            <div class="column">
              <strong>{{ .label }}</strong>
              <ul>
                {{ range where $.Site.Pages "Section" .section }}
                <a href={{ .RelPermalink }}><li>{{ .Title }}</li></a>
                {{ end }}
              </ul>
            </div>
            {{ end }}
          </div>
        </div>
      </div>
      <div class="container is-spaced">
        <div class="section">
          <div class="content has-text-centered">
            <p>
              <strong>Tele-Therapie in Österreich</strong>. Copyright &copy; 2020 Rita Wania & Ian Ross. Source code license: <a href="http://opensource.org/licenses/mit-license.php">MIT</a>.
              Website content license: <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a>.
            </p>
          </div>
        </div>
      </div>
    </footer>

    {{ with .Page.Params.vueJS }}
    {{ $script := index $.Site.Data.webpack "chunk-vendors" }}
    {{ with $script.js }}
    <script src="{{ relURL . }}"></script>
    {{ end }}
    {{ range . }}
    {{ $script := index $.Site.Data.webpack . }}
        {{ with $script.js }}
        <script src="{{ relURL . }}"></script>
        {{ end }}
      {{ end }}
    {{ end }}
  </body>
</html>
