{{ define "main" }}
<section class="section">
  <div class="columns is-centered">
    <div class="column is-9-desktop is-7-widescreen">
      <div class="hero">
        <div class="hero-body">
          <h1 class="title">
            Find a therapist
          </h1>

          <div class="columns">
            <div class="column">
              <a href="/ergo">
                <div class="card">
                  <div class="card-content">
                    <p class="title">Ergotherapie</p>
                    <img src="/images/ergo-placeholder.png">
                  </div>
                </div>
              </a>
            </div>
            <div class="column">
              <a href="/physio">
                <div class="card">
                  <div class="card-content">
                    <p class="title">Physiotherapie</p>
                    <img src="/images/physio-placeholder.png">
                  </div>
                </div>
              </a>
            </div>
            <div class="column">
              <a class="title" href="/logo">
                <div class="card">
                  <div class="card-content">
                    <p class="title">Logopädie</p>
                    <img src="/images/logo-placeholder.png">
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{{ range where .Site.RegularPages "Section" .Section }}
<section class="section">
  <a href="{{.RelPermalink}}">
    <div class="columns is-centered">
      <div class="column is-9-desktop is-8-widescreen">
        <div class="container box">
          <div class="content">
            <h2 class="title is-2 has-text-centered">{{.Title}}</h2>

            <p>{{.Summary}}</p>
          </div>
        </div>
      </div>
    </div>
  </a>
</section>
{{ end }}
{{ end }}
